body {
    background-color: #ffc896;
    font-family: 'Noto Sans TC', sans-serif;
}

.page {
    width: 100vw;
    height: 100vh;
    padding: 1rem
}

.left {
    width: 35%;
    height: 100%;
}

.taiwan {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
}

/* CSS 調整 */
#chart-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#map {
    width: 100%;
    height: 100%;
}
  

.right {
    width: 65%;
    height: 100%;
    margin-left: 1rem;
}

.function-section {
    width: 100%;
    height: 35%;
}

.info {
    width: 30%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
}

p {
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
}

.for-adjust {
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    margin-left: 1rem;
}

.smoking-graph {
    width: 60%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
}

.slider {
    width: 40%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
    margin-left: 1rem;
}

.cancer-graph {
    width: 100%;
    height: 32.5%;
    margin-top: 1rem;
}

.cancer-bar-graph {
    width: 30%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
}

.cancer-line-graph {
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
    margin-left: 1rem;
}

.aqi-graph {
    width: 100%;
    height: 32.5%;
    margin-top: 1rem;
}

.aqi-bar-graph {
    width: 30%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
}

.aqi-line-graph {
    width: 70%;
    height: 100%;
    border-radius: 1rem;
    background-color: #fff4ea;
    margin-left: 1rem;
}